<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" integrity="sha512-HHsOC+h3najWR7OKiGZtfhFIEzg5VRIPde0kB0bG2QRidTQqf+sbfcxCTB16AcFB93xMjnBIKE29/MjdzXE+qw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="stylesheets/doctor_login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="signin-signup">
                <div>
                  <h2 class="status">{{status}}</h2>
                </div>
                <form action="/doctorSignIn" method = "POST" class="sign-in-form">
                    <h2 class="title">Sign In</h2>
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email" name="doctorEmail">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password" id="passL" name="doctorPass" >
                        <i class="fa-solid fa-eye-slash show1" id="eye"></i>
                    </div>
                    <input type="submit" value="Login" class="btn solid">
                </form>

                <form action="/doctorSignUp" method="POST" class="sign-up-form">
                    <h2 class="title">Sign Up</h2>
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Name" name="doctorName">
                    </div>
                    <div class="input-field">
                        <i class="fa-regular fa-id-badge"></i>
                        <input type="text" placeholder="Doctor Id." name="doctorId">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email" name="doctorEmail">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-phone"></i>
                        <input type="number" placeholder="Mobile Number" name="doctorMobile">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password" id="passV" name="doctorPass">
                       
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Confirm Password" id="passC" name="doctorConfPass">
                        <i class="fa-solid fa-eye-slash show" id="eye"></i>
                    </div>
                    <input type="submit" value="Sign Up" class="btn solid">
                </form>

            </div>
        </div>

        <div class="panels-container">
           <div class="panel left-panel">
            <div class="content">
                <p>Welcome Doc!! Have a Great Day Ahead...</p><br>
                <h4>New Here?

                </h4><br>
                
                <button class="btn transparent" id="sign-up-button">Sign Up</button>
            </div>
            <img src="images/doctors_hwty.svg" class="image" alt="" srcset="">
           </div>

           <div class="panel right-panel">
            <div class="content">
                <p>Hey Doc!! Wanna Register...</p><br>
                
                <h4>One of Us?

                </h4><br>
                
                <button class="btn transparent" id="sign-in-button">Sign In</button>
            </div>
            <img src="images/doctor_kw-5-l.svg" class="image" alt="" srcset="">
           </div>
        </div>
    </div>

     <script>
    const signInButton = document.querySelector('#sign-in-button');
        const signUpButton = document.querySelector('#sign-up-button');
        const container = document.querySelector('.container');
        const status = document.querySelector('.status');
        
        signUpButton.addEventListener('click', () =>{
            container.classList.add("sign-up-mode");
            status.innerHtml = " ";
        })
        
        
        signInButton.addEventListener('click', () =>{
            container.classList.remove("sign-up-mode");
            status.innerHtml = " ";
        
        })
        const passShow = document.querySelector(".show"),
         passShow1 = document.querySelector("#passV"),
         passShow2 = document.querySelector("#passC");
         
         passShow.addEventListener('click', () => {
            if((passShow1.type==="password")&&(passShow2.type==="password")){
            passShow1.type = "text";
            passShow2.type = "text";
            }
            else{
                passShow1.type = "password";
            passShow2.type = "password";
            }
         })
         const passCheck = document.querySelector(".show1"),
         passCheck1 = document.querySelector("#passL");
         
         passCheck.addEventListener('click', () => {
            if((passCheck1.type==="password")){
            passCheck1.type = "text";
            }
            else{
                passCheck1.type = "password";
            }
         })
        </script>
</body>
</html>