<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="" />

    <title>E-CARE</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!--owl slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="stylesheets/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <div class="hero_area">
      <div class="hero_bg_box">
        <img src="images/hero-bg.png" alt="" />
      </div>

      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/">
              <span> E-Care Chain </span>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/allReports"> Reports</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#visited-doctor-section">Doctors</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/profile">My Profile</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
                <form class="form-inline">
                  <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->

      <!-- slider section -->
      <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>{{record.name}}</h1>
                      <h3 style="color:white;"> "Always laugh when you can, it is cheap medicine."</h3>
                      <div class="btn-box">
                        <a href="#visited-doctor-section" class="btn1">
                          Doctors You Visited
                        </a>
                        <a href="/allReports" class="btn1">
                          Your Reports
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end slider section -->
    </div>

    <!-- doctor section -->

    <section id="visited-doctor-section" class="department_section layout_padding">
      <div class="department_container">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>Doctor's You Visited</h2>
            <p>
              Asperiores sunt consectetur impedit nulla molestiae delectus
              repellat laborum dolores doloremque accusantium
            </p>
          </div>
          <div class="row">

        {% if record.doctors.length == 0 %}
          <h1>No Doctors</h1>
        
        {% else %}
          {% for i in 1..record.doctors.length %}
            <div class="col-md-3">
              <div class="box">
                <div class="img-box">
                  <img src="images/client.jpg" alt="">
                </div>
                <div class="detail-box">
                <form action="/sendReportsPage" method="POST">
                	<input type="text" name="doctorEmail" id="doctor-email" value={{record.doctors[i-1].doctorEmail}} hidden>
                  <h5>{{record.doctors[i-1].doctorName}}</h5>
                    <div class="box1">
                   <button id="open" class="bn632-hover bn26">MANAGE REPORTS</button>
                   <button type="button" id="open" class="bn632-hover bn26">VIEW PRESCRIPTIONS</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

          </div>
        </div>
      </div>
    </section>

    <!-- end doctor section -->

    <!-- popper js -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
{# 
  <script>
    			document.getElementById("open").addEventListener("click", function () {
          var xhr = new XMLHttpRequest();
          var doc_email = document.getElementById("doctor-email").value;
          xhr.open("POST", "sendReportsPage", true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.send(
              JSON.stringify({
              docEmail: document.getElementById("doctor-email").value, 
              })
          );
          });
  </script> #}
  </body>
</html>
